.App {
  text-align: center;
}

.App-header {
  background-color: #FFFBF5;
  min-height: 100vh;
}

#root {
  font-family: 'Roboto Slab', serif;
}

.pwvape-color{
  color: #00425A;
}

.pwvape-bg{
  background-color: #00425A;
}

.submit-button:hover{
  background-color: #007294;
}

#username:focus,#password:focus,#email:focus,#key:focus{
  border-color: #00425A;
}